<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form id="register-form">
            <input type="text" id="username" placeholder="Имя пользователя" required>
            <input type="password" id="password" placeholder="Пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <div id="message"></div>
        
        <div class="links">
            <p>Уже есть аккаунт? <a href="http://localhost:8080/api/auth/login">Войти</a></p>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
